.top{
    padding: 5px;
    background-color: #91c8ff;
}
.navbar{
    padding: 0%;
}
.navbar-brand{
    margin-left: 30px;
}
section{
    padding: 9em;
}

h2{
    padding-bottom: 20px;
    padding-left: 5px;
}

.login, .cadastro{
    padding-bottom: 50px;
}

form{
    padding-bottom: 10px;
    width: 70%;
}

.cadastro{
    border-left: 1px solid #a1a1a1; 
    height: 100%;
}