body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
.banner{
  display: flex;
}

h5{
  padding: 5px;
  font-style: italic;
}

#resultadoPesquisa{
    justify-content: center;
    padding: 20px;
}

  .produto {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 15px;
    display: inline-block;
    height: 500px;
    transition: height 0.5s ease; /* Adiciona uma transição suave para a altura */
    position: relative; /* Defina a posição como relativa */
    z-index: 1; /* Defina um índice de empilhamento */
  }
  .produto.expandido {
    height: 580px; /* Para permitir que a div expanda conforme necessário */
    position: relative; /* Mantenha a posição como relativa */
    z-index: 2; /* Aumente o índice de empilhamento para que a div expandida fique acima */
  }

  .produto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .card-description {
    font-size: 10px;
    color: #777;
    margin: 15px;
    text-align: justify;
  }
  .card-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1989AC;
  }
  .produto button {
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .produto button:hover {
    background-color: #0056b3;
  }

  .produto favoritos {
    margin-bottom: 20px;
    margin-left: 13px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
.produto favoritos:hover{
  background-color: #c4c4c4;
}

  .produto compras {
    margin-bottom: 20px;
    margin-left: 13px;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .produto compras:hover{
    background-color: #c4c4c4;
  }